@page
@model SnackAttack.Pages.FavouriteRecipes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Favourite Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="FavouriteRecipe.SnackAttackUserID" class="control-label"></label>
                <select asp-for="FavouriteRecipe.SnackAttackUserID" class ="form-control" asp-items="ViewBag.SnackAttackUserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FavouriteRecipe.RecipeID" class="control-label"></label>
                <select asp-for="FavouriteRecipe.RecipeID" class ="form-control" asp-items="ViewBag.RecipeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
