@page "{id:int?}"
@model SnackAttack.Pages.About.IndexModel
@{
    ViewData["Title"] = "About SnackAttack";
}

<style>
    .img-fluid:hover {
        opacity: 0.8;
        transform: scale(1.1);
    }
</style>

<div class="container">
    <h1 class="text-center">About SnackAttack</h1>
    <hr />

    <div class="row">
        <div class="col-sm-4">
            <img src="~/images/Simran.png" class="img-fluid rounded-circle mx-auto d-block" alt="Simran" width="200px" height="100px">
            <p class="text-center mt-2">Simran</p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Nonyem.png" class="img-fluid rounded-circle mx-auto d-block" alt="Nonyem" width="200px" height="100px">
            <p class="text-center mt-2">Nonyem</p>
        </div>
        <div class="col-sm-4">
            <img src="~/images/Nency.png" class="img-fluid rounded-circle mx-auto d-block" alt="Nency" width="180px" height="60px">
            <p class="text-center mt-2">Nency</p>
        </div>
    </div>

    <hr />

    <p>SnackAttack is a web application created to help university students make healthy and affordable food choices. We understand that students are often busy and on a tight budget, which can make it difficult to maintain a nutritious diet. That's why we've created SnackAttack - to make it easier for students to find recipes that are both healthy and affordable.</p>

    <p>The SnackAttack team is made up of three talented and passionate individuals: Simran, Nonyem, Nency</p>

    <p>
        At SnackAttack, we believe that everyone deserves to have access to healthy and affordable food options. Our recipes are designed to be easy to follow and use ingredients that are commonly available at local grocery stores. We also provide tips and tricks for meal planning and grocery shopping on a budget.

        We hope that SnackAttack can help you make better food choices and lead a healthier lifestyle. Thank you for choosing SnackAttack!
    </p>


</div>
